.bar {
    width: 100%;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.Name {
    width: 20%;
}

.Number {
    width: 16%;
}

.Email {
    width: 30%;
}

@media all and (max-width:767px) {
    .bar {
        display: none;
    }
}